* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  user-select: none;
}

/* ===== Header ===== */

.header {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto; /* установить по центру */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between; /* выравнивает элементы горизонтально */
  align-items: center; /* выравнивает элементы вертикально  */
  box-sizing: border-box;
  font-weight: 700;
}

/* === Nav === */

.nav {
  list-style-type: none;
  display: flex; /* в ряд  */
  justify-content: flex-start; /* друг за другом */
  align-items: center;
  font-size: 15px;
}

.nav_panel {
  background-color: #1e9a90;
  border-radius: 15px;
  padding: 12px 16px;
  color: #b7b7b7;
  border: none;
  font-weight: 700;
  user-select: none;
}

.nav_btn {
  background-color: #5528ff;
  border-radius: 12px;
  padding: 6px 16px;
  color: #fff;
  border: none;
  font-weight: 700;
}

.nav > li {
  margin-left: 37px;
}

.nav > li > a {
  text-decoration: none;
  color: rgb(32, 32, 32);
}

.nav > li > p {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: larger;
  margin-bottom: 0px;
  margin-top: 0px;
}

.phone-link {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.phone-link:hover {
  color: #0707079d;
}

/* === Логотип === */

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo_img {
  display: block;
  width: 45px;
  height: 58px;
  background-image: url(../img/logos.png);
  margin-right: 15px;
}

.logo_text {
  font-size: 24px;
  color: #202020;
}

.title_main {
  font-size: 55px;
  color: #202020;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 0.7em;
}

.text_main {
  font-size: 32px;
  line-height: 1.5;
  color: #4f4f4f;
  max-width: 746px;
  padding-bottom: 63px;
}

.button {
  background-color: #5528ff;
  border-radius: 10px;
  padding: 16px 59px;
  color: #fff;
  border: none;
  font-size: 24px;
}

/* ===== Кнопка ===== */

.scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #9ad3ce;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.scroll-to-top-button:hover {
  background-color: #c4cfce;
}

/* ===== Панель управления ===== */

.user-panel {
  background-color: #f2f0f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.user-panel .div {
  background-color: #f2f0f0;
  overflow: hidden;
  width: 1404px;
  height: 528px;
  position: relative;
}

.user-panel .left-panel {
  position: absolute;
  width: 261px;
  height: 278px;
  top: 81px;
  left: 0;
  background-color: #ffffff;
}

.user-panel .text-wrapper {
  width: 247px;
  top: 5px;
  left: 8px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .text-wrapper-2 {
  width: 247px;
  top: 39px;
  left: 8px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .text-wrapper-3 {
  width: 247px;
  top: 73px;
  left: 8px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .text-wrapper-4 {
  width: 247px;
  top: 107px;
  left: 8px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .text-wrapper-5 {
  width: 247px;
  top: 141px;
  left: 8px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .text-wrapper-6 {
  width: 247px;
  top: 175px;
  left: 8px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .text-wrapper-7 {
  width: 247px;
  top: 209px;
  left: 8px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .text-wrapper-8 {
  width: 247px;
  top: 243px;
  left: 8px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .main-container {
  position: absolute;
  width: 1127px;
  height: 163px;
  top: 78px;
  left: 277px;
  background-color: #ffffff;
}

.user-panel .text-userid {
  top: 9px;
  left: 20px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .user-fio {
  position: absolute;
  top: 76px;
  left: 20px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .text-balance {
  top: 99px;
  left: 20px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  font-size: 16px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .user-balance {
  position: absolute;
  width: 154px;
  top: 118px;
  left: 20px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #1e9a90;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .frame-userid {
  width: 72px;
  top: 38px;
  left: 20px;
  position: absolute;
  height: 23px;
}

.user-panel .overlap-group {
  position: relative;
  width: 73px;
  height: 23px;
  left: -1px;
  background-color: #1e9a90;
  border-radius: 25px;
}

.user-panel .user-code {
  position: absolute;
  width: 56px;
  height: 21px;
  top: 0;
  left: 8px;
  opacity: 0.9;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .user-packets {
  position: absolute;
  width: 1133px;
  height: 99px;
  top: 254px;
  left: 277px;
  background-color: #ffffff;
}

.user-panel .text-packets {
  top: 8px;
  left: 20px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .packet-info {
  height: 22px;
  top: 52px;
  left: 20px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #116861;
  font-size: 18px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .packet-prive {
  height: 24px;
  top: 50px;
  left: 974px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #4d6563;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .frame {
  width: 258px;
  top: 43px;
  left: 8px;
  position: absolute;
  height: 23px;
}

.user-panel .glav {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .msg-panel {
  position: absolute;
  width: 1133px;
  height: 153px;
  top: 366px;
  left: 277px;
  background-color: #ffffff;
}

.user-panel .text-alert {
  top: 13px;
  left: 20px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .text {
  width: 1071px;
  top: 58px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-panel .text-msg {
  top: 115px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper,
.text-wrapper-1,
.text-wrapper-2,
.text-wrapper-3,
.text-wrapper-4,
.text-wrapper-5,
.text-wrapper-6,
.text-wrapper-7,
.text-wrapper-8 {
  display: inline-block;
  text-decoration: none;
  transition: font-size 0.3s, font-weight 0.1s;
}

.text-wrapper:hover,
.text-wrapper-1:hover,
.text-wrapper-2:hover,
.text-wrapper-3:hover,
.text-wrapper-4:hover,
.text-wrapper-5:hover,
.text-wrapper-6:hover,
.text-wrapper-7:hover,
.text-wrapper-8:hover {
  font-size: 19px;
  font-weight: bold;
}

/* ===== New Footer ===== */

.footer {
  background-color: #f2f0f0;
  font-family: Stolzl-Regular, sans-serif;
  font-weight: 375;
  -webkit-tap-highlight-color: transparent;
}

.footer .footer-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 45px;
  padding-right: 32px;
}

.footer .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50%;
}

.footer .fmenu {
  float: left;
  font-style: normal;
  font-size: 12px;
  line-height: 230%;
  color: #3a3a3a;
}

.footer .fmenu:last-child {
  padding-right: 0;
}

.fmenu .fmsubject {
  display: block;
  padding-bottom: 10px;
  font-style: normal;
  font-size: 14px;
  color: #a6a6aa;
}

.fmenu li a {
  display: inline-block;
  line-height: 24px;
  color: #5d5d5d;
}

.fmenu li a:hover {
  color: #0d5cf0;
}

.footer .frinfo {
  font-style: normal;
  text-align: left;
  line-height: 23px;
  font-size: 11.5px;
  width: 50%;
  color: #3a3a3a;
}

.footer .telephone {
  margin-top: 20px;
  margin-bottom: 15px;
  font-style: normal;
  font-size: 18.5px;
}

.footer .telephone a {
  color: #3a3a3a;
}

.footer .name {
  font-style: normal;
  font-size: 14px;
}

.footer .email {
  color: #007bff;
}
